Source: erot
Section: gui
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config, libxcb1-dev, libxcb-randr0-dev, libxcb-aux0-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config
XCS-Cross-Build-Depends: libxcb1-dev, libxcb-randr0-dev, libxcb-aux0-dev
Priority: optional
Standards-Version: 3.6.2

Package: erot
Architecture: any
Depends: ${shlibs:Depends}
Description: Screen rotation utility
 Screen rotation utility
