Source: erot
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Uploaders: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config, libxcb1-dev, libxcb-randr0-dev, libxcb-aux0-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config
XCS-Cross-Build-Depends: libxcb1-dev, libxcb-randr0-dev, libxcb-aux0-dev
Priority: optional
Standards-Version: 3.8.3

Package: erot
Architecture: any
Depends: ${shlibs:Depends}
Description: Screen rotation utility
 Utility providing Ecore_Con service for screen rotation.

Package: erot-dbg
Architecture: any
Depends: ${shlibs:Depends}
Description: Screen rotation utility -- debugging symbols
 Utility providing Ecore_Con service for screen rotation.
 .
 This package provides debugging symbols.
